target/site/serenity/SERENITY-JUNIT-cobro-coactivo_estudio-de-títulos_-los-expedientes-que-son-aprobados_comma_-continúan-con-la-generación-del-mandamiento-de-pago-en-el-proceso-de-estudio-de-títulos.__2.xml2ac7ea6c-3a66-48c3-92e5-fbd48bd432df
target/site/serenity/cobro-coactivo_investigacion-y-control_-permite-realizar-la-evaluación-del-expediente-del-deudor_comma_-registrar-la-investigación-de-bienes-y-generar-el-mandamiento-correspondiente.__2_screenshots.html
target/site/serenity/cobro-coactivo_estudio-de-títulos_-los-expedientes-que-son-aprobados_comma_-continúan-con-la-generación-del-mandamiento-de-pago-en-el-proceso-de-estudio-de-títulos.__2.json0da45d3d-ec4d-47cb-bff4-1c5766bc6a11
target/site/serenity/SERENITY-JUNIT-cobro-coactivo_revisar-expedientes_-permite-visualizar-los-deudores-y_o-expedientes-asignados-por-funcionario-para-analizar-en-qué-proceso-se-encuentra-el-deudor-y_o-expediente.__2.xml415b956c-7675-4c17-908d-c8a05ba416f5
target/site/serenity/SERENITY-JUNIT-cobro-coactivo_revisar-expedientes_-permite-visualizar-los-deudores-y_o-expedientes-asignados-por-funcionario-para-analizar-en-qué-proceso-se-encuentra-el-deudor-y_o-expediente.__2.xml
target/site/serenity/SERENITY-JUNIT-cobro-coactivo_investigacion-y-control_-permite-realizar-la-evaluación-del-expediente-del-deudor_comma_-registrar-la-investigación-de-bienes-y-generar-el-mandamiento-correspondiente.__2.xml
/target/
